


<link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsenui.css">
<link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsen-css-components.min.css">
<script src="https://unpkg.com/onsenui/js/onsenui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

<style >
  .profile_image {
      width: 6em;
      height: 6em;
  }
  .button_width{
    width:100%;
  }
  v-ons-list.show_list_foods {
    position: absolute;
    top: 34px;
}
</style>
<ons-splitter>
  <ons-splitter-side id="menu" side="left" width="220px" collapse swipeable>
    <ons-page>
      <img src="" class="profile_image"/>
      <ons-list>
        <ons-list-item onclick="fn.load('home.html')" tappable>
          Home
        </ons-list-item>
        <ons-list-item onclick="fn.load('FoodEated.html')" tappable>
          FoodEated
        </ons-list-item>
        <ons-list-item onclick="fn.load('foodshop.html')" tappable>
          FoodShop
        </ons-list-item>
        <ons-list-item onclick="fn.load('settings.html')" tappable>
          Settings
        </ons-list-item>
        <ons-list-item onclick="fn.load('about.html')" tappable>
          About
        </ons-list-item>
      </ons-list>
    </ons-page>
  </ons-splitter-side>
  <ons-splitter-content id="content" page="home.html"></ons-splitter-content>
</ons-splitter>

<template id="home.html">
  <ons-page>
    <ons-toolbar>
      <div class="left">
        <ons-toolbar-button onclick="fn.open()">
          <ons-icon icon="md-menu"></ons-icon>
        </ons-toolbar-button>
      </div>
      <div class="center">
        Main
      </div>
    </ons-toolbar>



    <ons-card>
      <div class="title">
      Nutrients
      </div>
      <div class="content">
        <canvas id="myChart"></canvas>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
        <script>
          var ctx = document.getElementById('myChart').getContext('2d');
          var chart = new Chart(ctx, {
              // The type of chart we want to create
              type: 'bar',

              // The data for our dataset
              data: {
                  labels: ["carbohydrates", "proteins", "fats"],
                  datasets: [{
                      label: "Nutrients",
                      backgroundColor: 'rgb(255, 99, 132)',
                      borderColor: 'rgb(255, 99, 132)',
                      data: [3, 10, 5],
                  }]
              },

              // Configuration options go here
              options: {}
          });
        </script>
        <div>
          <ons-button class="button_width">Show</ons-button>

        </div>
    <!--    <ons-list>
          <ons-list-header>Bindings</ons-list-header>
          <ons-list-item>Vue</ons-list-item>
          <ons-list-item>Angular</ons-list-item>
          <ons-list-item>React</ons-list-item>
        </ons-list>-->
      </div>
    </ons-card>

    <ons-card>
      <div class="title">
      Lipides
      </div>
      <div class="content">
        <canvas id="myChart"></canvas>


        <div>
          <ons-button class="button_width">Show</ons-button>

        </div>
    <!--    <ons-list>
          <ons-list-header>Bindings</ons-list-header>
          <ons-list-item>Vue</ons-list-item>
          <ons-list-item>Angular</ons-list-item>
          <ons-list-item>React</ons-list-item>
        </ons-list>-->
      </div>
    </ons-card>

    <ons-card>
      <div class="title">
      Fat
      </div>
      <div class="content">
        <canvas id="myChart"></canvas>


        <div>
          <ons-button class="button_width">Show</ons-button>

        </div>
    <!--    <ons-list>
          <ons-list-header>Bindings</ons-list-header>
          <ons-list-item>Vue</ons-list-item>
          <ons-list-item>Angular</ons-list-item>
          <ons-list-item>React</ons-list-item>
        </ons-list>-->
      </div>
    </ons-card>

    <ons-card>
      <div class="title">
      Carbohydrates
      </div>
      <div class="content">
        <canvas id="myChart"></canvas>


        <div>
          <ons-button class="button_width">Show</ons-button>

        </div>
    <!--    <ons-list>
          <ons-list-header>Bindings</ons-list-header>
          <ons-list-item>Vue</ons-list-item>
          <ons-list-item>Angular</ons-list-item>
          <ons-list-item>React</ons-list-item>
        </ons-list>-->
      </div>
    </ons-card>

    <ons-card>
      <div class="title">
      Proteins
      </div>
      <div class="content">
        <canvas id="myChart"></canvas>


        <div>
          <ons-button class="button_width">Show</ons-button>

        </div>
    <!--    <ons-list>
          <ons-list-header>Bindings</ons-list-header>
          <ons-list-item>Vue</ons-list-item>
          <ons-list-item>Angular</ons-list-item>
          <ons-list-item>React</ons-list-item>
        </ons-list>-->
      </div>
    </ons-card>


  </ons-page>
</template>


<template id="settings.html">
  <ons-page>
    <ons-toolbar>
      <div class="left">
        <ons-toolbar-button onclick="fn.open()">
          <ons-icon icon="md-menu"></ons-icon>
        </ons-toolbar-button>
      </div>
      <div class="center">
        Settings
      </div>
    </ons-toolbar>
  </ons-page>
</template>

<template id="about.html">
  <ons-page>
    <ons-toolbar>
      <div class="left">
        <ons-toolbar-button onclick="fn.open()">
          <ons-icon icon="md-menu"></ons-icon>
        </ons-toolbar-button>
      </div>
      <div class="center">
        About
      </div>
    </ons-toolbar>
  </ons-page>
</template>

<template id="page.html">
  <ons-page>
    <ons-toolbar>
      <div class="left">
        <ons-toolbar-button onclick="fn.open()">
          <ons-icon icon="md-menu"></ons-icon>
        </ons-toolbar-button>
      </div>
      <div class="center">
        Page
      </div>
      <script>
        </script>
    </ons-toolbar>
    <ons-search-input placeholder="Search something"></ons-search-input>
  </ons-page>
</template>

<template id="foodshop.html">
  <ons-page>
    <ons-toolbar>
      <div class="left">
        <ons-toolbar-button onclick="fn.open()">
          <ons-icon icon="md-menu"></ons-icon>
        </ons-toolbar-button>
      </div>
      <div class="center">
        FoodShop
      </div>



    </ons-toolbar>
    <ons-list-header style="position:fixed;z-index:100;width:100%">Category of products</ons-list-header>
    <!--after that food per magazine-->
     <v-ons-list class="show_list_foods">

       </v-ons-list>
      <script>
          show_data();
        </script>

  </ons-page>


</template>

<template id="FoodEated.html">
  <ons-page>
    <ons-toolbar>
      <div class="left">
        <ons-toolbar-button onclick="fn.open()">
          <ons-icon icon="md-menu"></ons-icon>
        </ons-toolbar-button>
      </div>
      <div class="center">
        FoodEated
      </div>
    </ons-toolbar>

  </ons-page>
</template>

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
<script src="js/main.js"></script>
